* {
    margin: 0; 
    padding: 0; 
    font-family: Arial, sans-serif; 
    box-sizing: border-box;
    margin: 0 auto; /*auto는 브라우저 좌우 여백을 요소의 너비를 맞게 자동 계산 중앙으로 위치*/
}

#headerwrapper{
    width: 1300px;
    height: 100px;
    background-color: rgba(47, 47, 49, 0.9);
    color: white; 
    display: flex;
    align-items: center;
}

#logo{
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 700px 0px 80px;
    
}
span{
    font-size: 12px;
    color: lightblue;
}

#menu{
    width: 300px;
    display: flex;
    margin-right: 50px;
    font-size: 15px;
}

#menu div:hover{
    color: lightskyblue;
}
