* {
    box-sizing: border-box;
    margin: 0 auto;
}

#wrapper{
    width: 1300px; /*수평으로 가운데 정렬하기 위함*/
}

#top{
    width: 1300px;
    height: 650px;
    background-color:rgb(0, 172, 238); 
    text-align: center;
    color: white;
    position: relative;
}

#top h2{
    padding-top: 60px;
    padding-bottom: 20px;
    font-weight: lighter;
}

#top h1{
    padding-bottom: 20px;
    font-size: 45px;
}

#top p{
    font-size: 15px;
    font-weight: 100;
    line-height: 2;
}

/* #top img{
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
}

#top img#left, img#right{
    padding-bottom: 500px;
    width: 40px;
} */

#left, #right {
    position: absolute; /* 절대 위치 지정 */
    top: 35%; /* 위에 정렬 */
    width: 50px; /* 이미지 너비 */
}

#left {
    left: 80px; 
}

#right {
    right: 80px;
}

img#center{
    position: absolute; /* 절대 위치 지정 */
    top: 300px; /* 위에 정렬 */
    left: 50%; /* 가운데 정렬 */
    transform: translateX(-50%); /* 수평으로 가운데 정렬 */
}

#middle{
    position: absolute;/*그림위에 덮기 위해*/
    width: 1300px;
    background-color: white;
    z-index: 1;;/* 이미지 위에 덮기 위함*/
    display: flex;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
}

#middle-content img{
    margin-bottom: 20px;
}

#middle-content h4{
    padding-bottom: 10px;
}
#middle-content p{
    line-height: 2;
    font-size: 14px;
    color: grey;
    padding-bottom: 30px;
}
#middle-content button{
    color: white;
    width: 100px;
    height: 40px;
    background-color: rgba(2, 36, 74, 0.904);

}

div#project {
    position: relative;
    width: 1300px;
    height: 80px;
    text-align: center;
    margin-top: 537px; 
    font-size: 20px;
    font-weight: bold;
    color: grey;

}
/*박스*/
#boxs_upper, #boxs_lower{
    display: flex;
}

div#box_dark, div#box_light, div#box_blue{
    width: 260px;
    height: 260px;
    margin: 0;
}

div#box_dark{
    background-color: rgba(47, 47, 49, 0.9);
}

div#box_light{
    background-color: rgba(57, 55, 55, 0.738);
}

div#box_blue{
    position: relative;
    background-color: rgb(0, 172, 238);
    color: white;
    text-align: center;
    padding-top: 50px;
}

div#box_blue p{
    padding-bottom: 30px;
}
#box_blue p#text{
    font-size: 13px;
}

#box_blue p#like{
    display: flex;
    margin-left: 120px;

}
/*position: absolute; 넣으면 브라우저가 움직일떄 마다 
위치가 바뀜 -> 부모 요소에 position: relative;넣어 해결*/
#box_blue img {
    position: absolute; /* 이미지에 대해서만 절대 위치 설정 */
    left: 43%;
    top: 58%; 
    transform: translate(-50%, -50%); 
    padding-right: 50px;
}