body {margin: 0; padding: 0; font-family: Arial, sans-serif; color: white; box-sizing: border-box; background-color: rgba(31, 47, 225, 0.893);} /*body요소의 마진과 패딩 제거*/


 /*제목*/
div#title{text-align: center; margin: 150px 0 50px 0;}
h4{font-style: italic; font-size: 10px;}

/*본문*/
div#box{justify-content: center; display: flex;}
div#textBox{float: left; text-align: center;padding: 0px 25px 0 25px;}
div#big{font-size: 30px; font-weight: bold;}
div#small{font-size: 12px;}

/*img*/
/*filter: brightness(0) invert(1); 기존 파란색 로고에서 색상반전 속성을 통해 흰색으로 변경*/
div#imgBox{filter: brightness(0) invert(1);justify-content: center; display: flex;}
img#webimg{width: 70px; padding: 30px; margin-top: 50px;}